

.from-omega-600 {
  --tw-gradient-from: rgb(var(--color-omega-900) / 1);
}

.via-omega-600 {
  --tw-gradient-stops: var(--tw-gradient-from), rgb(var(--color-omega-900) / 1), var(--tw-gradient-to);

}


.to-omega-600 {
  --tw-gradient-to: rgb(var(--color-omega-800) / 1);
}




